<div class="gb-view-item">
  {{ content.field_gh_cover_image }}
  <div class="gb-view-text">
    <h1>{{ label[0]["#context"].value }}</h1>
    <p>{{ content.field_gh_context_summary[0]["#context"].value }}</p>
  </div>
  {{ content.links }}
</div>
