{% if content %}
<div class="flex flex-col w-full p-8 bg-[color:var(--secondary-color)] h-64">
  <div class="flex justify-between">
    <div class="space-x-4">
      <a href="#" class="text-white">Nosotros</a>
      <a href="#" class="text-white">Repositorio</a>
      <a href="#" class="text-white">Líneas temáticas</a>
    </div>
    <div class="text-white text-4xl">REDLAC</div>
    <div class="flex space-x-4"></div>
  </div>
  <div class="flex justify-end">Pesquisa</div>
  <div class="flex justify-center">
    <div class="flex space-x-2">
      <a href="" class="text-white">Política de privacidad</a>
      <div class="custom-divider"></div>
      <a href="" class="text-white">Términos y condiciones</a>
    </div>
  </div>
  <div class="flex justify-center mt-2">
    <p class="text-[#a698b5]">
      REDLAC GIZ @ 2023. Todos los derechos reservados.
    </p>
  </div>
</div>
{% endif %}
