{# /** * @file * Theme override for a breadcrumb trail. * * Available variables:
* - breadcrumb: Breadcrumb trail items. */ #} {% if breadcrumb %}
<nav class="bcrumb" role="navigation" aria-labelledby="system-breadcrumb">
  <h2 id="system-breadcrumb" class="visually-hidden">{{ "Breadcrumb" | t }}</h2>
  <ol>
    {% for item in breadcrumb %}
    <li class="inline-block">
      {% if item.url %}
      <a href="{{ item.url }}"
        ><p class="inline-block">{{ item.text }}</p>
      </a>
      {% else %}
      <p class="inline-block">{{ item.text }}</p>
      {% endif %} {% if loop.last == false %}
      <i class="fa-solid fa-angle-right text-xs"></i> {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
