<nav class="fixed top-0 z-10 w-full">
  <div
    class="flex flex-row justify-between items-center px-24 bg-[color:var(--white-bg)]"
  >
    <div class="flex">
      <p class="text-black text-4xl font-bold m-4">GobLac</p>
    </div>
    <div class="flex flex-1">
      <ul class="flex flex-1 justify-evenly items-center">
        <li>
          <a class="text-gray-600 text-[color:var(--active-link)]" href="#"
            >Inicio</a
          >
        </li>
        <li><a class="text-gray-600" href="#">Acerca de alianza</a></li>
        <li>
          <a class="text-gray-600" href="#"
            >Líneas temáticas <i class="fa-solid fa-angle-down text-sm"></i
          ></a>
        </li>
        <li><a class="text-gray-600" href="#">Buenas prácticas</a></li>
      </ul>
    </div>
    <div class="flex h-min">
      <a
        class="text-white font-bold bg-[color:var(--primary-color)] rounded-md p-2"
        href="#"
      >
        <p class="">
          Comparte tu buena práctica
          <i class="fa-solid fa-arrow-right"></i>
        </p>
      </a>
    </div>
  </div>
  <hr class="border-t-2 border-solid text-gray-700" />
</nav>
