<div class="flex h-min">
  <a
    class="text-white font-bold rounded-md border-2 border-[color:var(--primary-color)] p-2"
    href={{link}}
  >
    <p class="text-[color:var(--primary-color)]">
      {{ label|t }}
      <i class="fa-solid fa-arrow-right"></i>
    </p>
  </a>
</div>
