{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: goblac_adaptive
 * Generated on: Tue, 04 Jun 24 16:49:20 +0000
 */
#}
{{ attach_library('goblac_adaptive/goblac_adaptive.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
