@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8e6aa0;
  --primary-variant: #81608e;
  --accent-color: #3b2942;
  --white-bg: #ffffff;
  --active-link: #a188aa;
  --primary-black: #1d2433;
  --light-gray: #c7d1ce;
  --item-list-bg: #fbf8fb;
}

.rm-horizontal-padding {
  @apply px-0;
}

.container {
  @apply max-w-full;
}

.block {
  @apply m-0 bg-[color:var(--white-bg)];
}

.field {
  @apply m-0;
}

.node {
  @apply p-0;
}

input[type="checkbox"] {
  @apply accent-[color:var(--primary-variant)];
}

.messages {
  @apply m-0 mb-5;
}

.node-form {
  @apply px-2;
}

@layer base {
  .text-light {
    @apply text-white;
  }

  .text-dark {
    @apply text-black;
  }

  .link {
    @apply border-none px-4 text-[color:var(--primary-variant)];
  }

  .pre-title {
    @apply text-sm my-1;
  }

  .title {
    @apply font-bold text-4xl;
  }

  .summary {
    @apply space-y-6 my-6;
  }

  .main-bg {
    @apply bg-[color:var(--white-bg)];
  }

  .no-shadow {
    @apply shadow-none;
  }

  .button {
    @apply font-bold text-white bg-[color:var(--primary-color)] rounded-md px-4 py-3 text-center h-auto border-none;
  }

  .button-alt {
    @apply bg-white rounded-md border-2 border-[color:var(--primary-variant)] px-6 py-2 text-center h-auto w-auto text-[color:var(--primary-variant)];

    a {
      @apply text-[color:var(--primary-variant)];
    }
  }

  .breadcrumbs {
    @apply p-page bg-[color:var(--white-bg)];

    .breadcrumb__link {
      @apply text-[color:var(--primary-color)];
    }
  }

  .p-page {
    @apply px-2 xl:px-16;
  }

  .h-ruler {
    @apply text-[#DDDDDC];
  }

  .dashed-border {
    @apply border-2 border-dashed border-[color:var(--primary-color)];
  }

  .single-gradient {
    background: radial-gradient(
      circle at top right,
      var(--primary-color) 0%,
      #f1f3fd 50%
    );
  }

  .double-gradient {
    background: radial-gradient(
        circle 920px at right -5% bottom 20%,
        var(--primary-color) 0%,
        rgba(0, 0, 0, 0) 40%
      ),
      radial-gradient(
        circle 752px at left 10% top -30%,
        var(--primary-color) 0%,
        #f1f3fd 50%
      );
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  /* Hide main content */
  .node--type-page .node__header {
    @apply hidden;
  }

  .breadcrumb {
    .breadcrumb__list {
      li a,
      span,
      .breadcrumb__list-item:before {
        @apply text-[color:var(--primary-color)];
      }

      li:last-child a {
        @apply text-slate-700;
      }
    }
  }

  /* Home Page */
  #block-goblac-adaptive-homecontent {
    @apply bg-[color:var(--white-bg)];
  }

  .gh-view-block-search-home .main-content {
    @apply flex flex-col w-full justify-center items-center double-gradient h-[480px];

    .view-header {
      @apply flex flex-col w-full justify-center;

      #ruler {
        @apply w-[84px] border-b-4 border-[color:var(--primary-color)] self-center mb-4;
      }

      h6 {
        @apply uppercase tracking-widest text-center text-[color:var(--primary-color)] mb-4;
      }

      h2 {
        @apply font-bold text-4xl text-center self-center max-w-[456px] mb-7;
      }

      p {
        @apply text-center self-center max-w-[680px] mb-10;
      }
    }

    .views-row {
      @apply hidden;
    }

    .view-filters .views-exposed-form .form--inline {
      @apply flex flex-row w-full items-center space-x-2;

      .js-form-item-title {
        @apply m-0;

        input {
          @apply h-10 w-[660px] text-base px-2 text-slate-700 rounded-lg;
        }
      }

      .js-form-submit {
        @apply p-0 h-10 text-base font-semibold px-16 bg-[color:var(--primary-color)];
      }
    }

    .view-empty {
      @apply hidden;
    }

    .pager--mini {
      @apply hidden;
    }
  }

  .thematic-info .main-content {
    @apply flex flex-row w-full p-16 bg-cover;

    .field-name-field-lth-pre-title {
      @apply text-[color:var(--primary-color)] mb-4;
    }

    .field-name-field-lth-title {
      @apply font-bold text-4xl max-w-[380px] xl:w-[380px] mb-6;
    }

    .field-name-field-lth-summary {
      @apply max-w-[380px] mb-6;
    }

    .main-link {
      @apply button bg-[color:var(--primary-variant)];
    }

    .grid-content {
      @apply grid grid-cols-2 w-full pl-16 gap-x-10 gap-y-16;
    }

    .info-section {
      @apply flex flex-col space-y-6;

      i {
        @apply text-4xl text-[color:var(--primary-color)];
      }

      h2 {
        @apply font-semibold text-xl line-clamp-1;
      }

      p {
        @apply line-clamp-2;
      }

      a {
        @apply button-alt px-2 text-[color:var(--primary-color)] max-w-[200px] bg-transparent border-solid;
      }
    }
  }

  .node--view-mode-full {
    @apply m-0;
  }

  .meeting-view {
    @apply flex flex-row w-full items-center justify-between px-2 lg:px-28 py-16;

    .text-section {
      @apply max-w-[535px];
    }

    h2 {
      @apply font-bold text-5xl line-clamp-2;
    }

    span {
      @apply font-normal text-base line-clamp-6;
    }

    img {
      @apply w-[720px] h-[570px] hidden lg:block;
    }

    .mt-pdf {
      @apply flex w-full text-white text-center justify-center font-bold py-3 px-4 rounded-md bg-[color:var(--primary-color)] mt-8;
    }
  }

  .meeting-view-block {
    @apply flex flex-col w-full px-2 lg:px-28 py-16;

    .view-header {
      @apply flex flex-col w-full justify-center;

      p {
        @apply flex w-full justify-center text-4xl font-bold;
      }

      h4 {
        @apply flex w-full justify-center text-base font-normal;
      }
    }

    .view-rows {
      @apply grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8;
    }

    .views-row {
      @apply flex flex-col w-full justify-center p-4 border-2 border-gray-100 rounded;
    }

    .views-field-field-mt-image {
      @apply flex justify-center w-full mb-8;
    }

    .views-field-field-mt-title .field-content {
      @apply text-2xl font-bold overflow-hidden max-w-[430px] w-full line-clamp-2;
    }

    .views-field-field-mt-summary {
      @apply font-normal text-base max-w-[430px] w-full h-full line-clamp-5 mt-4;
    }

    .views-field-field-mt-date {
      @apply my-8;
    }

    .views-field-field-mt-link {
      @apply hidden;
    }

    .views-field-view-node {
      @apply flex w-full justify-center bg-[color:var(--primary-color)] py-1 rounded;

      a {
        @apply text-white font-bold;
      }
    }

    .pager {
      @apply hidden;
    }
  }

  .gh-view-block-home {
    @apply flex flex-row w-full px-2 lg:px-28 py-16;

    .view-header {
      @apply flex flex-col w-full;

      h6 {
        @apply font-bold text-base text-[color:var(--primary-color)] mb-4;
      }

      h2 {
        @apply max-w-[860px] font-bold text-4xl mb-6 line-clamp-2;
      }

      p {
        @apply max-w-[860px] text-base;
      }

      a {
        @apply self-end font-semibold text-slate-700;
      }
    }

    .view-content {
      @apply grid grid-cols-2 gap-y-10 w-full place-items-center row-start-1 gap-x-4;
    }

    .views-field-field-gh-cover-image {
      @apply mb-8;

      img {
        @apply rounded-xl;
      }
    }

    .views-field-title {
      @apply max-w-[540px] font-bold text-2xl mb-3;
    }

    .views-field-field-gh-context-summary {
      @apply max-w-[540px] h-12 text-ellipsis overflow-hidden;
    }
  }

  #rid-content-prefix {
    @apply bg-[color:var(--white-bg)];

    .block-breadcrumbs {
      @apply breadcrumbs;
    }
  }

  #block-goblac-adaptive-graciasporcompartirblock {
    @apply flex flex-row w-full justify-center pt-12;

    .block__content {
      @apply flex flex-col w-full justify-center items-center;
    }

    .field-block-content--field-lb-title {
      @apply font-bold text-6xl max-w-96 text-center;
    }

    .field-block-content--field-lb-summary {
      @apply text-base mb-8;
    }

    .field-block-content--field-lb-link {
      @apply button mb-8;

      a {
        @apply text-white;
      }
    }

    img {
      @apply w-[900px] h-[550px];
    }
  }

  .goblac-navbar {
    @apply flex flex-row justify-between bg-[color:var(--white-bg)] p-page py-4 items-center shadow-lg;

    .goblac-menu {
      @apply hidden xl:block;
    }

    .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
    .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
    .tb-megamenu .nav > li.dropdown.open.active > a:hover,
    .tb-megamenu
      .nav
      > li.dropdown.open.active
      > span.tb-megamenu-no-link:hover,
    .tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
    .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
    .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
      @apply bg-[color:var(--primary-color)] text-white font-bold;
    }

    .tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
    .tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret,
    .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
      border-top-color: var(--primary-color);
      border-bottom-color: var(--primary-color);
    }

    .tb-megamenu .nav > li > a,
    .tb-megamenu .nav > .active > a,
    .tb-megamenu .nav li.dropdown.active > .dropdown-toggle {
      @apply bg-[color:var(--white-bg)] text-[color:var(--primary-variant)];
    }

    .navbar-sublinks .block__content {
      @apply grid grid-cols-2 w-full gap-y-2 gap-x-6 place-items-stretch;
    }

    .field-name-field-media-image .field-type-image__item img {
      @apply w-40 h-28 pr-4;
    }

    .tb-megamenu .dropdown-menu {
      @apply border-none;
    }

    .tb-megamenu .dropdown-menu a,
    .tb-megamenu .dropdown-menu span.tb-megamenu-no-link {
      @apply p-0;
    }

    .tb-megamenu .dropdown-menu .field-name-field-sublink-link {
      @apply p-0 pt-2 underline;
    }

    .field-name-field-sublink-title .field__item {
      @apply text-ellipsis overflow-hidden max-w-[384px];
    }

    .field-name-field-sublink-summary {
      @apply w-96 line-clamp-3 whitespace-normal;
    }

    .navbar-sublink {
      @apply flex flex-row w-full px-2 text-black;
    }

    .tb-megamenu .nav > li > a {
      @apply link;
    }

    h4 {
      @apply font-bold text-base m-0;
    }

    p {
      @apply text-sm;
    }

    .field-block-content--field-lb-link {
      @apply button-alt;

      a {
        @apply text-black font-bold text-[color:var(--primary-variant)];
      }
    }
  }

  .basic-banner {
    @apply flex relative w-full;

    > div.block_inner:first-child {
      @apply w-full;
    }

    .field-block-content-field-banner-bg-image img {
      @apply w-full h-48 object-cover;
    }

    .field-block-content--field-banner-subject {
      @apply absolute z-10 top-1/2 left-1/2 text-center font-bold text-white text-3xl;
      transform: translate(-50%, -50%);
    }
  }

  .basic-article {
    @apply flex flex-col w-full px-2 xl:px-72;

    .field__item {
      @apply pt-8;

      h3 {
        @apply font-light text-2xl mb-4 mt-8;
      }

      p {
        @apply font-light mb-4 text-xl;
      }

      strong {
        @apply font-bold;
      }

      ul {
        @apply my-6 space-y-4;
      }

      li {
        @apply font-light p-8 text-xl bg-[color:var(--item-list-bg)];
      }
    }
  }

  .complex-banner {
    @apply flex flex-col relative w-full;

    .cover {
      @apply absolute w-full h-full bg-black z-10 opacity-50;
    }

    .positioner {
      @apply flex flex-col absolute max-w-[40%] top-1/2 left-16 z-20;
      transform: translate(0%, -50%);
    }

    img {
      @apply w-full h-[720px] object-cover z-0;
    }

    h1 {
      @apply font-bold text-white z-20 text-6xl my-6;
    }

    h2 {
      @apply font-semibold text-white z-20;
    }

    p {
      @apply text-white z-20;
    }
  }

  .homepage-info-section {
    @apply flex flex-col w-full p-page py-28 bg-cover;

    .info-header {
      @apply flex flex-row w-full justify-between items-end;

      .field-name-field-hs-title {
        @apply font-bold text-[3.5rem] max-w-[868px] mb-6;
      }

      .field-name-field-hs-summary {
        @apply text-lg max-w-[868px];
      }

      .field-name-field-hs-main-link {
        @apply button-alt bg-transparent;

        a {
          @apply text-[color:var(--primary-variant)];
        }
      }
    }

    .homepage-info-topics {
      @apply grid grid-cols-4 gap-x-5 w-full mt-16;

      .info-topic {
        @apply flex flex-col w-full justify-between items-center p-6 border-2 rounded-[1.5rem];

        .field-name-field-media-image img {
          @apply w-[265px] h-[160px] rounded-[1rem];
        }

        .double-field-first {
          @apply font-bold text-2xl mb-6 line-clamp-2;
        }

        .double-field-second {
          @apply text-base line-clamp-5 mb-8;
        }

        a {
          @apply button-alt bg-transparent;
        }
      }
    }
  }

  /* Gobernanza Digital Y Democracia*/
  .info-section {
    .block__content {
      @apply flex justify-between w-full p-page py-16 items-center bg-cover;
    }

    div.content-left,
    div.content-right {
      @apply flex flex-col max-w-[45%];
    }

    span {
      @apply pre-title;
    }

    h2 {
      @apply title;
    }

    p {
      @apply summary;
    }

    a {
      @apply button bg-[color:var(--accent-color)];
    }

    ul {
      @apply list-disc list-inside space-y-2;
    }
  }

  .info-video-block {
    @apply flex flex-col w-full p-16;

    iframe {
      @apply h-[700px] w-full mb-20;
    }

    .field-block-content--field-iv-title {
      @apply flex flex-row title w-full justify-center;

      .field__items {
        @apply max-w-[50%] text-center;
      }
    }

    .field-block-content--field-iv-summary {
      @apply flex flex-row w-full justify-center mt-6;

      .field__items {
        @apply max-w-[50%] text-center;
      }
    }
  }

  /* Good Habits Page */
  .good-habits-content {
    @apply flex flex-col;

    .cover-section {
      @apply flex flex-row justify-between w-full p-16 h-[775px] items-center double-gradient;

      div.content-left,
      div.content-right {
        @apply flex flex-col max-w-[45%];
      }

      .field-type-image__figure {
        @apply m-0;
      }

      .text-content {
        @apply summary my-2;
      }

      .field-name-title {
        @apply title my-4;
      }

      span {
        @apply pre-title;
      }

      a {
        @apply button;
      }

      img {
        @apply rounded-md;
      }
    }

    .good-habits-info {
      @apply flex flex-row w-full items-center justify-center space-x-6 mt-12;

      .field-name-field-gh-author-name,
      .field-name-field-gh-read-time {
        @apply inline-block;

        .field__item {
          @apply m-0;
        }
      }

      span {
        @apply font-bold text-base;
      }

      i {
        @apply text-[color:var(--primary-color)] pr-3 text-xl;
      }
    }

    .field-name-field-gh-tags {
      @apply flex flex-row w-full items-center justify-center my-14 px-2 lg:px-0;

      .field__label {
        @apply whitespace-nowrap pr-10 text-base font-normal uppercase;
      }

      .field__items {
        @apply grid grid-cols-3 xl:grid-cols-4 gap-3;
      }

      .field__item {
        @apply m-0 max-w-[270px] font-semibold bg-[#F5F5F5] py-2 px-4 text-center self-center;
      }

      .field__item-wrapper::after {
        content: "";
      }
    }

    .top-content {
      @apply flex flex-row w-full justify-center px-2 lg:px-72;

      .actions {
        @apply w-80 flex flex-col items-center px-6 py-8;

        span {
          @apply font-semibold text-xl line-clamp-2;
        }

        .social-sharing-buttons {
          @apply m-0;

          svg {
            @apply w-8 h-8 mb-2 fill-[color:var(--primary-color)];
          }
        }
      }

      .text-content {
        @apply flex flex-col w-full;
      }
    }

    .field__label {
      @apply font-bold text-2xl;
    }

    .field__item {
      @apply text-xl mt-6 mb-10;
    }

    .bottom-content {
      @apply px-2 lg:px-72 w-full;

      .double-field-list {
        @apply list-inside list-disc space-y-4;

        .double-field-first {
          @apply text-ellipsis overflow-hidden;
        }
      }

      .item-list__item {
        @apply list-disc;
      }
    }

    .field-node--field-gh-image-roll .field__items {
      @apply grid grid-cols-3 gap-6 justify-items-center place-items-center px-2 xl:px-40 py-14;

      div,
      img {
        @apply rounded-xl w-full h-96;
      }

      img {
        @apply object-cover;
      }

      div:nth-child(2) {
        @apply row-span-2 h-full;

        img {
          @apply h-full;
        }
      }

      div:not(.field__item) {
        @apply bg-[color:var(--primary-color)];
      }

      div.field__item {
        @apply m-0;
      }
    }
  }

  /* Footer */
  #rid-footer {
    @apply pb-8 space-y-16 bg-[color:var(--white-bg)] text-[color:var(--primary-black)];

    .top-footer {
      @apply grid grid-cols-2 place-items-stretch gap-8 xl:flex xl:flex-row xl:justify-between xl:items-start w-full p-page;

      .branding {
        @apply flex flex-col max-w-[500px] justify-start items-start;

        .field-name-body {
          @apply p-0 pt-4;

          p {
            @apply text-base;
          }
        }
      }

      .block-menu__title {
        @apply font-semibold mb-4;
      }

      .menu__item {
        @apply m-0;
      }

      .menu__link {
        @apply text-[0.875rem];
      }

      .menu-name--mapa-del-site,
      .menu-name--lineas-tematicas {
        @apply flex flex-col;
      }
    }

    .bottom-footer {
      @apply flex flex-col w-full p-page;

      hr {
        @apply mb-4 h-ruler;
      }

      .bottom-footer-content {
        @apply flex flex-row w-full justify-between items-center;
      }
    }
  }

  /* Good Habits Search Page */
  .search-page {
    @apply flex flex-col w-full bg-[color:var(--white-bg)];

    .basic-banner {
      @apply flex relative w-full;

      > div:first-child {
        @apply w-full h-60;
      }

      .field-media--field-media-svg img {
        @apply w-full object-cover h-60;
      }

      .banner-content {
        @apply flex flex-col w-full justify-center space-y-4 absolute z-10 top-1/2 left-1/2 text-center font-bold text-white text-3xl;
        transform: translate(-50%, -50%);

        .banner-title {
          @apply font-semibold text-base uppercase text-center;
        }

        .banner-summary {
          @apply font-bold text-3xl;
        }

        .views-exposed-form {
          @apply m-0 p-0;

          #views-exposed-form-good-habits-view-main {
            @apply m-0;
          }

          .form--inline.clearfix,
          .js-form-item-title,
          .fieldgroup,
          .js-form-item-sort-bef-combine {
            @apply hidden;
          }

          .form--inline {
            @apply flex flex-row w-full items-center justify-center space-x-2;

            .js-form-item-title {
              @apply m-0 rounded-lg w-[512px];

              input {
                @apply h-10 w-full text-base px-2 bg-[color:var(--accent-color)] text-white;
              }
            }

            .js-form-submit {
              @apply p-0 h-10 text-base font-semibold px-16 bg-[color:var(--primary-color)];
            }
          }
        }
      }
    }

    .view-header {
      @apply font-semibold text-base my-10 p-page;
    }

    .search-view {
      @apply flex flex-row w-full p-page space-x-5;

      .form-filter {
        @apply w-[312px];

        .js-form-type-checkbox {
          @apply flex m-0;
        }

        .fieldset-legend {
          @apply flex w-full font-bold text-base pb-3 border-b-2 border-[color:var(--light-gray)];
        }

        .fieldset-wrapper {
          @apply mt-3;
        }

        .form-checkbox {
          @apply accent-[color:var(--primary-variant)];
        }

        label {
          @apply whitespace-normal bg-transparent px-3 py-4;
        }
      }

      .bef-toggle--select-all {
        @apply pb-3;
      }

      .block-plugin-id--views-exposed-filter-block-good-habits-view-main,
      .form--inline {
        @apply flex flex-col w-[312px];
      }

      legend {
        @apply flex w-full;
      }

      .js-form-item-title {
        @apply hidden;
      }

      .results {
        @apply w-full;

        .view-rows {
          @apply grid grid-cols-3 w-full gap-x-6 gap-y-14 content-center items-center;

          .views-row {
            @apply flex flex-col justify-center;
          }

          .views-field-field-gh-cover-image {
            @apply flex mb-8;

            img {
              @apply rounded-xl;
            }
          }

          .views-field-title {
            @apply flex font-bold text-2xl mb-3;
          }

          .views-field-field-gh-context-summary {
            @apply flex max-w-[312px] text-ellipsis overflow-hidden max-h-12;
          }
        }
      }
    }
  }

  .leaders-block .main-content {
    @apply grid grid-cols-4 w-full gap-x-8 gap-y-16 place-items-center py-28 px-16;

    .block--type-basic {
      @apply col-span-4 text-center;
    }

    .field-name-body h6 {
      @apply font-semibold text-base mb-4 text-center;
    }

    .field-name-body h2 {
      @apply font-bold text-5xl mb-4;
    }

    .field-name-body p {
      @apply text-lg mb-20;
    }

    .block--type-team-member {
      @apply flex flex-col;
    }

    .field-type-image__figure {
      @apply m-0 mb-6;

      img {
        @apply rounded-xl;
      }
    }

    .field-name-field-tm-name {
      @apply font-semibold text-xl text-center;
    }

    .field-name-field-tm-role {
      @apply text-base text-center;
    }

    .field-name-field-tm-description {
      @apply max-w-72 line-clamp-3 my-6;
    }

    .social-media {
      @apply flex flex-row space-x-4 justify-center;

      i {
        @apply text-2xl text-[color:var(--primary-variant)];
      }
    }
  }

  /* Comparte tu buena práctica */
  .good-habits-form {
    @apply flex flex-col w-full p-page space-y-10 m-0;

    .layout-region-node-secondary {
      @apply hidden;
    }

    h1 {
      @apply font-bold text-4xl mb-4;
    }

    h2 {
      @apply font-bold text-4xl my-14;
    }

    .form-text,
    .form-textarea,
    .form-email {
      @apply p-2;
    }

    .table__header {
      @apply hidden;
    }

    .field-multiple-table {
      @apply table-auto border-collapse;
    }

    .double-field-elements {
      @apply flex flex-row w-full items-center;
    }

    .js-form-submit {
      @apply py-2 h-auto;
    }

    label.modified {
      @apply font-semibold text-base mb-[6px];
    }

    .form-disposition {
      @apply flex flex-col-reverse items-stretch xl:flex-row w-full xl:space-x-14 xl:items-start;

      .js-form-item-field-gh-thematic-category {
        @apply w-[426px];
      }

      .field-spacer {
        @apply space-y-10;
      }
    }

    .form-radios {
      @apply flex flex-row w-full justify-evenly items-center;

      .js-form-item-field-gh-type {
        @apply border-2 px-6 py-2 rounded-md m-0;
      }

      label {
        @apply bg-transparent;
      }
    }

    .tabledrag-toggle-weight-wrapper,
    .description,
    [for="edit-field-gh-country"],
    [for="edit-field-gh-contact-points-0-value"],
    [for="edit-field-gh-learnings-0-value"],
    [for="edit-field-gh-results-0-value"],
    [for="edit-field-gh-deployment-plan-0-value"],
    [for="edit-field-gh-support-text-0-value"],
    [for="edit-field-gh-description-0-value"],
    #edit-field-gh-deployment-plan-0-format,
    #edit-field-gh-results-0-format {
      @apply hidden;
    }

    .info-img-banner {
      @apply flex flex-row w-full bg-[#F5F0F6] p-4 mt-4;

      h5 {
        @apply font-bold text-base;
      }

      p {
        @apply text-base;
      }

      i {
        @apply text-xl mr-2 text-[color:var(--primary-color)];
      }
    }

    .optional-field-title {
      h3,
      span {
        @apply inline-block;
      }

      h3 {
        @apply font-bold text-2xl;
      }

      span {
        @apply text-sm;
      }
    }

    .border-card {
      @apply p-8 border-2 rounded-lg;

      .card-title {
        @apply font-bold text-2xl inline-block;
      }

      .card-title + p,
      .card-title + span + p {
        @apply mt-4 mb-6;
      }

      .required-field::after {
        @apply text-2xl text-[#ee0000] font-serif;

        content: "\002A";
      }

      ul {
        @apply mt-6 mb-6 space-y-2 list-disc list-inside;
      }

      hr {
        @apply my-6;
      }
    }

    .form-item {
      @apply mb-6;

      label {
        @apply font-semibold text-base mb-[6px];
      }
    }

    .fieldset-legend {
      @apply hidden;
    }

    table {
      @apply border-none;
    }

    tbody {
      @apply border-none border-0 border-transparent;
    }

    tr.table__row {
      @apply border-none border-0 border-transparent;
    }

    td {
      @apply border-none;
    }

    .field-multiple-drag,
    a.tabledrag-handle {
      @apply hidden;
    }

    .table__body__cell {
      @apply mx-auto items-center content-center;

      .js-form-item- {
        @apply m-0;
      }

      .double-field-elements {
        @apply justify-around items-center;
      }

      .double-field-subfield-form-item {
        @apply m-0;
      }
    }

    .form-checkboxes {
      @apply grid grid-cols-2 xl:grid-cols-3 gap-x-4 place-items-center;

      .js-form-type-checkbox {
        @apply rounded-md;
      }

      label {
        @apply w-80 whitespace-normal text-center rounded-md border-2 border-[color:var(--active-link)] text-[color:var(--primary-color)];
      }

      label:hover {
        @apply bg-[color:var(--primary-variant)] text-white;
      }

      .form-checkbox {
        @apply hidden;
      }

      div:has(> .form-checkbox:checked) {
        label {
          @apply bg-[color:var(--primary-color)] text-white;
        }

        label:after {
          content: " \2713";
        }
      }
    }

    .grid-form {
      @apply grid grid-cols-2 w-full gap-x-3 gap-y-6;

      .field--name-field-gh-author-email {
        @apply col-span-2;
      }
    }

    #edit-field-gh-cover-image-wrapper,
    #edit-field-gh-image-roll,
    #edit-field-gh-image-roll-wrapper,
    #edit-field-gh-pdf-file-wrapper {
      @apply m-0 p-2 py-4 bg-[#EEEEEF] dashed-border no-scrollbar;

      .js-form-type-managed-file {
        @apply flex flex-col w-full justify-center items-center m-0;
      }

      .js-form-managed-file {
        @apply flex flex-col w-full justify-center items-center m-0;
      }

      .image-widget-data {
        @apply flex flex-col w-full justify-center items-center space-y-2;
      }

      .js-form-file {
        @apply text-[color:var(--primary-color)] h-auto;
      }

      input::file-selector-button {
        @apply button-alt bg-transparent hover:cursor-pointer border-2 font-bold border-[color:var(--primary-color)];
      }

      label[for="edit-field-gh-image-roll-0-upload"] {
        @apply hidden;
      }

      summary[aria-controls="edit-field-gh-image-roll"],
      summary[aria-controls^="edit-field-gh-image-roll--"] {
        @apply hidden;
      }
    }

    details[id^="edit-field-gh-image-roll--"] {
      @apply no-scrollbar p-0;
    }

    #edit-field-gh-image-roll-wrapper {
      @apply p-0;
    }

    .field--widget-image-image {
      @apply p-0;
    }

    [data-drupal-selector="edit-submit"] {
      @apply w-full;
    }

    .field--name-field-gh-privacy-consent {
      .js-form-item-field-gh-privacy-consent-value {
        @apply flex flex-row w-full m-0;
      }

      label {
        @apply whitespace-normal;
      }
    }
  }

  /* Quiz Page */
  form#webform-submission-quiz-economia-local-y-mundo-del-add-form {
    @apply m-0;
  }

  .quiz {
    @apply flex flex-row w-full justify-between p-16;

    .img-container {
      @apply flex flex-col items-center justify-center content-center self-center;
    }

    .quiz-img {
      @apply h-full w-[640px] ml-20 rounded-2xl hidden xl:block;
    }

    .progress-bar {
      @apply hidden;
    }

    .webform-progress {
      @apply hidden;
    }

    .quiz-question {
      @apply w-full max-w-[592px];
    }

    .quiz-header {
      @apply flex flex-col w-full max-w-[592px] py-6 px-4 border-b-2 border-[#c8eac9] border-opacity-20;

      .top-header {
        @apply flex flex-row justify-between font-bold text-base text-white;

        span.progress-indicator {
          .webform-progress {
            @apply inline-block bg-transparent;
          }

          span.progress-bar {
            @apply hidden;
          }
        }
      }

      .bottom-header {
        @apply flex flex-row w-full pt-3;

        span.progress-bar-indicator {
          @apply flex w-full;

          .webform-progress {
            @apply hidden;
          }

          .progress-tracker {
            @apply flex flex-row w-full;
          }

          .bar-indicator {
            @apply flex w-full;
          }

          span.progress-bar {
            @apply inline-block h-3 w-full bg-white;
          }

          span.completed {
            @apply inline-block h-3 w-full bg-slate-900;
          }
        }
      }
    }

    .element-container-wrapper {
      @apply flex flex-col w-full max-w-[592px] h-auto;

      legend {
        @apply pt-8 pb-6 h-auto;

        .fieldset-legend {
          @apply font-bold text-2xl text-white;
        }
      }

      .js-form-type-radio {
        @apply flex flex-row w-full items-center p-4 mb-3 bg-transparent rounded-md border;

        label {
          @apply text-white text-base bg-transparent w-full;
        }
      }

      .js-form-type-radio:hover {
        @apply bg-[#232829] border-transparent;
      }
    }

    .form-item--error-message {
      @apply bg-white p-3 my-3 rounded-md;
    }

    .form-actions {
      @apply flex flex-row w-full justify-between;

      .webform-button--previous {
        @apply bg-transparent border border-white box-border;
      }

      .webform-button--next {
        @apply bg-[color:var(--accent-color)] w-full max-w-[370px];
      }

      .webform-button--submit {
        @apply bg-[color:var(--accent-color)] w-full max-w-[370px];
      }
    }
  }

  .quiz.bg-blue {
    @apply bg-[#6a8ea0];
  }

  .quiz.bg-green {
    @apply bg-[#358438];
  }

  .quiz.bg-purple {
    @apply bg-[#81618f];
  }

  .quiz.bg-red {
    @apply bg-[#e22d20];
  }

  .quiz-results {
    @apply flex flex-col w-full justify-center items-center bg-cover;

    .res-msg {
      @apply text-5xl font-bold text-center text-white max-w-[634px] pt-32 pb-10;
    }

    .results {
      @apply flex flex-col w-full max-w-[827px] mb-5;

      .title {
        @apply flex flex-row w-full justify-between font-semibold text-xl text-white px-6 pt-5 pb-4 bg-[color:var(--accent-color)] border-[color:var(--primary-variant)] border rounded-t-md;

        span {
          @apply text-base font-normal;
        }
      }

      .answers {
        @apply flex flex-row w-full justify-between bg-[color:var(--accent-color)] px-6 py-4 text-white border-[color:var(--primary-variant)] border border-t-0 rounded-b-md;

        .fa-circle-check {
          @apply text-[#c8eac9] pr-2;
        }

        .fa-circle-xmark {
          @apply text-[#ffa8a2] pr-2;
        }

        span {
          @apply font-bold;
        }
      }
    }

    .action-links {
      @apply flex flex-row w-full justify-between max-w-[827px] pt-5 pb-64;

      .to-home {
        @apply bg-transparent text-white font-semibold p-2 h-auto border border-white rounded-md text-center;
      }

      .to-quiz {
        @apply bg-[color:var(--primary-color)] text-white font-semibold py-2 px-5 h-auto rounded-md text-center;
      }
    }
  }
}
