<div>
  <div class="goblac-navbar">
    {{ content.goblac_adaptive_sitebranding }}

    <div class="goblac-menu">
      {{ content.goblac_adaptive_mainnavigation_3 }}
    </div>

    {{- content.goblac_adaptive_goblacbutton -}}
  </div>
  <hr>
</div>