<hr>
<div class="top-footer">
    <div class="branding">
        {{- content.goblac_adaptive_sitebranding_2 -}}
        {{- content.goblac_adaptive_topfootertext -}}
    </div>

    {{- content.goblac_adaptive_mapadelsite -}}
    {{- content.goblac_adaptive_lineastematicas -}}
</div>