{% set year = 'now' | date('Y') %}

<div class="bottom-footer">
  <hr>
  <div class="bottom-footer-content">
    {{ 'GobernanzaLAC @ ' ~ year ~ '. Todos los derechos reservados'|t }}

    {{- content -}}
  </div>
</div>