@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8e6aa0;
  --primary-variant: #81608e;
  --accent-color: #3b2942;
  --white-bg: #fefeff;
  --active-link: #a188aa;
}

@layer base {
  p {
    @apply text-gray-700 text-sm;
  }

  .form-field {
    @apply px-8 py-2 rounded-md border-2 border-gray-400;
  }

  .input-icon {
    @apply pointer-events-none absolute top-1/2 transform -translate-y-1/2 left-3;
    color: #9da3c4;
  }

  .links i {
    @apply text-[color:var(--primary-variant)];
  }

  .menu-nav {
    @apply w-full bg-[color:var(--white-bg)] drop-shadow-xl;
  }

  .menu-nav-items {
    @apply flex flex-row justify-between items-center px-16 my-4;
  }

  .menu-logo {
    @apply font-bold text-3xl text-[color:var(--primary-color)];
  }

  .menu-nav .list-link {
    @apply flex flex-1 justify-evenly items-center;
  }

  .list-link .menu-link {
    @apply font-bold;
  }

  .bcrumb {
    @apply px-16 my-4;
  }

  #block-goblac-mainmenunavigationblock {
    @apply flex;
  }

  #main_menu_nav_button {
    @apply flex font-bold text-[color:var(--primary-color)] rounded-md border-2 border-[color:var(--primary-color)];
  }

  #main_menu_nav_button p {
    @apply inline-block text-[color:var(--primary-color)];
  }

  #main_menu_nav_button i {
    @apply text-sm;
  }

  .gracias-content {
    @apply flex flex-col w-full items-center;
  }

  .gracias-content h1 {
    @apply font-bold text-4xl;
  }

  .gracias-content p {
    @apply text-gray-700 text-sm mt-4;
  }

  .gracias-content a {
    @apply text-white font-bold bg-[color:var(--primary-color)] px-16 py-2 rounded-md my-8;
  }

  .gracias-content span {
    @apply text-sm pr-4;
  }

  .gracias-content i {
    @apply text-sm;
  }

  .banner-secondary-menu {
    @apply flex relative w-full;
  }

  .banner-secondary-menu img {
    @apply w-full h-48 object-cover;
  }

  .banner-secondary-menu h2 {
    @apply absolute w-full top-1/2 text-center font-bold text-white text-3xl;
  }

  .basic-long-text {
    @apply flex pl-24 pr-48;
  }

  .basic-long-text h3 {
    @apply my-4 font-light text-xl;
  }

  .basic-long-text p {
    @apply my-4 font-light text-lg;
  }

  .basic-long-text li {
    @apply my-4 bg-slate-50 p-8 mx-4;
  }

  .custom-content-form {
    @apply flex flex-col px-16 w-[764px];
  }

  .custom-content-form h2 {
    @apply font-bold text-3xl mb-14;
  }

  .custom-content-form label {
    @apply font-medium block mb-[6px] text-base;
  }

  .custom-content-form input {
    @apply border-2 border-slate-300 rounded p-2 w-full;
  }

  .custom-content-form textarea {
    @apply border-2 border-slate-300 rounded p-2 w-full mb-6;
  }

  .custom-content-form .spacer {
    @apply py-3;
  }

  .custom-content-form .description {
    @apply font-light text-sm;
  }

  table#field-actor-partner-values {
    @apply w-full;
  }

  #field-actor-partner-values tr {
    @apply w-full flex;
  }

  #field-actor-partner-values td {
    @apply w-full flex;
  }

  #edit-field-actor-partner-add-more {
    @apply flex m-4 text-[color:var(--primary-color)] font-bold  rounded-md border-[color:var(--primary-color)];
  }

  .form-card {
    @apply w-full flex flex-col border-2 rounded-md p-8 shadow-sm mb-1;
  }

  .form-card h2 {
    @apply text-2xl font-bold;
  }

  .form-card hr {
    @apply text-slate-400 my-6;
  }

  .form-grid {
    @apply w-full grid grid-cols-2 grid-rows-2 gap-y-6 gap-x-4;
  }

  .banner-secondary-menu {
    @apply flex relative w-full;
  }

  .banner-secondary-menu img {
    @apply w-full h-48 object-cover;
  }

  .banner-secondary-menu h2 {
    @apply absolute w-full top-1/2 text-center font-bold text-white text-3xl;
  }
}

@layer components {
  .complex-banner {
    @apply flex flex-col relative w-full;

    .cover {
      @apply absolute w-full h-full bg-black z-10 opacity-50;
    }

    img {
      @apply w-full h-[720px] object-cover z-0;
    }

    .positioner {
      @apply absolute max-w-[40%] flex flex-col top-1/2 left-16 space-y-6;
    }

    h1 {
      @apply font-bold text-white z-20 text-5xl;
    }

    h2 {
      @apply font-semibold text-white text-base z-20;
    }

    p {
      @apply text-white text-base z-20;
    }
  }

  .gb-view-block {}
}
