<div class="bg-[color:var(--white-bg)] px-24 py-16">
  <div class="flex justify-between">
    <form class="w-3/5" action="#" method="post">
      <p class="text-black text-4xl font-bold mb-4">GobLac</p>
      <div class="flex flex-col">
        <p class="pb-4">Suscríbete a nuestro boletín</p>
        <div class="flex flex-col space-y-2">
          <label for="name" class="relative">
            <i class="fa-regular fa-user input-icon text-sm"></i>
            <input
              class="form-field w-full"
              type="text"
              name="name"
              id="name"
              placeholder="Nombre"
            />
          </label>
          <label for="email" class="relative">
            <i class="fa-regular fa-envelope input-icon text-sm"></i>
            <input
              class="form-field w-full"
              type="email"
              name="email"
              id="email"
              placeholder="nombre@correo.com"
            />
          </label>
        </div>
        <button
          class="text-white font-bold bg-[color:var(--accent-color)] rounded-md my-4 py-2"
          type="submit"
        >
          Suscribirse
        </button>
        <p>
          Al suscribirte, aceptas nuestra Política de Privacidad y das tu
          consentimiento para recibir actualizaciones de nuestra empresa.
        </p>
      </div>
    </form>
    <div class="flex w-full justify-evenly mx-24">
      <div class="flex flex-col space-y-4">
        <p class="text-black font-bold">Mapa del sitio</p>
        <a class="" href="#"><p>Inicio</p></a>
        <a class="" href="#"><p>Acerca de Alianza</p></a>
        <a class="" href="#"><p>Buenas prácticas</p></a>
        <a class="" href="#"><p>Comparte tu buena práctica</p><a>
      </div>
      <div class="flex flex-col space-y-4">
        <p class="text-black font-bold">Líneas temáticas</p>
        <a class="" href="#"><p>Gobernanza Digital y Democracia</p></a>
        <a class="" href="#"><p>Derechos Humanos y Construcción <br> de un Estado Incluyente</p></a>
        <a class="" href="#"><p>Integridad y Transparencia</p></a>
        <a class="" href="#"><p>Iniciativas Intersectoriales</p></a>
        <a class="" href="#"><p>Transición justa</p><a>
      </div>
      <div class="flex flex-col space-y-4 links">
        <p class="text-black font-bold">Síguenos</p>
        <a href="#"><i class="text-xl fa-brands fa-facebook"></i><p class="inline-block pl-2">Facebook</p></a>
        <a href="#"><i class="text-xl fa-brands fa-instagram"></i><p class="inline-block pl-2">Instagram</p></a>
        <a href="#"><i class="text-xl fa-brands fa-x-twitter"></i><p class="inline-block pl-2">Twitter</p></a>
        <a href="#"><i class="text-xl fa-brands fa-linkedin"></i><p class="inline-block pl-2">Linkedin</p></a>
        <a href="#"><i class="text-xl fa-brands fa-youtube"></i><p class="inline-block pl-2">Youtube</p></a>
      </div>
    </div>
  </div>
  <hr class="border-t-2 border-solid text-white my-12" />
  <div class="flex justify-between">
    <p class="">
      GobernanzaLAC @ 2024. Todos los derechos reservados
    </p>
    <div class="space-x-4">
      <a href="#"><p class="underline inline-block">Política de privacidad</p></a>
      <a href="#"><p class="underline inline-block">Términos y condiciones</p></a>
    </div>
  </div>
</div>
